[Unit]
Description=Backup RAM disk before unmount
DefaultDependencies=no
Before=umount.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ramdisk-backup.sh

[Install]
WantedBy=umount.target
