[Unit]
Description=Backup RAM disk before shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target poweroff.target
Conflicts=shutdown.target reboot.target halt.target poweroff.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ramdisk-backup.sh
RemainAfterExit=true

[Install]
WantedBy=halt.target reboot.target shutdown.target poweroff.target
